<center>
  <div class="card bg-light mb-3 send_sms_card" style="max-width: 46rem;margin-top: 5%;">
    <div class="card-header"><h3><b class="card_header">Send SMS</b></h3></div>
    <div class="card-body">
      <%= form_for :sms_user, url: "/home/send_sms" do |form| %>
        <%= form.text_field :mobile_number,:class=>"form-control",:placeholder=>"Mobile Number",:style=>"margin-bottom:10px;" %>
        <%= form.text_area :message,:class=>"form-control",:placeholder=>"Message",:style=>"margin-bottom:10px;max-width:45rem;" %>
        <%= form.submit('Send',:class=>"medium_button")  %>
      <% end  %>
    </div>
  </div>
</center>
